<!DOCTYPE html>
<html lang="EN">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    />   
    <title></title>
  </head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
  integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
  crossorigin="anonymous"
></script>
<body>

<div style="padding-bottom: 50px"></div>
  <div style="width: 50%">
    <div
      class="container shadow-lg p-5 bg-white rounded"
      style="padding-left: 30px; margin-top: 10px; margin-left: 100px"
    >
      <h3>Play Rock Paper Scissors</h3>
      <div
        class="container p-2 my-3 border border-warning border-2"
        id="message_holder"        
      >
      </div>
      <form action="" method="POST">
        <div class="row">
          <div class="form-group col-sm-11">
            <input
              type="text"
              class="form-control border border-primary"
              id="msg"
              placeholder="Rock Paper Scissor..."
            ></inp>
          </div>
          <div class="form-group col-sm-1">
            <button type="submit" class="btn btn-primary btn-sm shadow mt-3"  value="send">
              Send
            </button>
          </div>
        </div>
      </form>
        <div class="row" style="margin-left:1px">
          <a
          href="/reset"
          class="btn btn-outline-primary btn-sm shadow"
          role="button"
          >Reset</a
        >
          </div>
      <script type="text/javascript">
        var user_id;

        $( document ).ready(function() {
          $('#message_holder').hide();

        });
        
        var socket = io.connect(null, {
          port: 5000,
          rememberTransport: false,
          transports: ['websocket'],
        });

        socket.on('connect', function () {
          console.log("connection established");
          user_id = (Math.random() + 1).toString(36).substring(7);

          socket.emit('chat', {
            data: 'User ' + user_id +' Connected',
          });

          var form = $('form').on('submit', function (e) {
            e.preventDefault();
            let user_input = $('#msg').val();
            
            socket.emit('game', {
              user: user_id,
              message: user_input,
            });
            $('#msg').val('').focus();
          });
        });


        socket.on('choicemade', function (msg) {
          console.log(msg);
                          
          $('#message_holder').show();
          $('#message_holder').append(
            '<div>' +              
              msg +
              '</div>'
          );       
        });

        socket.on('result', function (msg) {
          console.log(msg);
                          
          $('#message_holder').show();
          $('#message_holder').append(
            '<div>' +              
              msg +
              '</div>'
          );       
        });


        socket.on('my response', function (msg) {
          console.log(msg);
                          
          $('#message_holder').show();
          $('#message_holder').append(
            '<div>' +              
              msg.message +
              '</div>'
          );       
        });



      </script>
    </div>
  </div>
</body>
</html>